/* Reset */

* {
    margin: 0;
    border: 0;
    padding: 0;
}

/* Body */

body {
    background-color: black;
}

/* Navbar */


.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}



/* Carousel */

/* .carousel, .item, .active {
    height:100vh;
} */

/* Nosotros */

#Nosotros h2{
    font-weight: 400;
}
  
#Nosotros i{
    text-align: center;
    width: 100%;
    color: white;
}

#Nosotros p{
    font-weight: 300;
}